[Unit]
Description=DragonDickWatchBot Sidekiq
Requires=network.target redis.service
After=syslog.target network.target redis.service

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/dradiwabo
WorkingDirectory=/home/dradiwabo/dradiwabo
ExecStart=/home/dradiwabo/dradiwabo/bin/DragonDickWatchbot worker -e production -q send_notification,1 -q notify,1
User=dradiwabo

RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
