# Environment file for DraDiWaBo

# If set, start up a server for the webhook.
#ENABLE_WEBHOOK=true

# The log level.
#
# Allowed values: DEBUG, INFO, WARN, ERROR, FATAL
#
# Default: INFO
LOG_LEVEL=INFO

#The API token for accessing Telegram's bot API.
#TELEGRAM_API_TOKEN=CHANGEME

# The host address for the webhook server to bind to.
#
# Default: 0.0.0.0
WEBHOOK_HOST=0.0.0.0

# The port for the webhook server to bind to.
#
# Default: 8080
WEBHOOK_PORT=8080

# The session secret for the Sidekiq web interface.
#WEB_SESSION_SECRET=CHANGEME
